@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
  /* width and height include content,padding,borders */
  background: url('../img/rdr2 - 1.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive, sans-serif;
  font-size: 16px;
  color: #333;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  text-align: center;
}

/* Show what day is */
.date {
  padding: 1rem;
  margin: 20px 0;
}

.date h2 {
  font-size: 2rem;
  letter-spacing: 3px;
}

/* Form */
.add-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  width: 300px;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  margin: 10px 0;
  background: #f4f4f4;
  color: #333;
}

.btn {
  width: 120px;
  background: transparent;
  border: none;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px 0 20px;
  cursor: pointer;
  transition: all 0.5s;
  color: #f4f4f4;
}

.btn:hover {
  transform: scale(1.2);
  color: #333;
  background: #f4f4f4;
}

.btn:focus,
.text:focus {
  outline: none;
}

/* to-do container */
.todos {
  list-style: none;
  margin: 0 auto;
  height: 550px;
  width: 500px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

li {
  margin: 5px 0px 10px -40px;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 1.5rem;
  color: #f4f4f4;
  position: relative;
  word-break: break-word;
  border-radius: 5px;
  background: rgba(51, 51, 51, 0.438);
}

input:checked + label {
  text-decoration: line-through;
}

/* X Icon */
span {
  color: #f4f4f4;
  font-size: 1rem;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0;
  cursor: pointer;
}

/* Shadow for the X icon */
.shadow {
  filter: drop-shadow(0 0 0.3rem rgb(0, 0, 0));
}

/* when we hover on the li, show the 'btn'; hover on the parent, display child */
li:hover span {
  opacity: 1;
}

@media (max-width: 600px) {
  input[type='text'] {
    width: 250px;
  }

  .btn {
    transition: none;
    color: #333;
    background: #f4f4f4;
  }

  .btn:hover {
    transform: scale(1);
  }

  .todos {
    width: 80%;
  }

  li {
    letter-spacing: 1px;
    font-size: 1.3rem;
  }

  /* Show icon without the need to hover over it */
  span {
    opacity: 1;
  }
}

@media (max-height: 700px) {
  .date {
    display: none;
  }

  .btn {
    color: #333;
    transition: none;
  }
}
