@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
  /* width and height include content,padding,borders */
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive, sans-serif;
  font-size: 16px;
  color: #333;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('img/rdr2 - 1.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  text-align: center;
}

/* Show what day is */
.date {
  padding: 1rem;
  margin: 20px 0;
}

.date h2 {
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: bold;
}

/* Form */
.add-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type='text'] {
  width: 300px;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  margin: 10px 0;
  background: #f4f4f4;
  color: #333;
}

input[type='submit'] {
  width: 120px;
  background: transparent;
  border: none;
  padding: 10px 15px;
  margin: 5px 0 20px;
  cursor: pointer;
  transition: all 0.5s;
  color: #f4f4f4;
}

input[type='submit']:hover {
  transform: scale(1.2);
  color: #333;
}

input[type='submit']:focus,
input[type='text']:focus {
  outline: none;
}

/* to-do */
.todos {
  list-style: none;
  width: 65%;
  margin: 0 auto;
  max-height: 500px;
  overflow: hidden;
}

.todos:hover {
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
  /* background: transparent;
    width: 5px;
    border-radius: 10px; */
}

/* ::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
} */

li {
  margin: 5px 0px 10px -40px;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 1.5rem;
  color: #f4f4f4;
  position: relative;
}

input:checked + label {
  text-decoration: line-through;
}

span {
  color: #f4f4f4;
  font-size: 1rem;
  padding: 0 10px;
  position: absolute;
  right: 5px;
  top: 0px;
  opacity: 0;
  cursor: pointer;
}

.shadow {
  filter: drop-shadow(0 0 0.3rem rgb(0, 0, 0));
}

/* when we hover on the li, show the 'btn'; hover on the parent, display child */
li:hover span {
  opacity: 1;
}

@media (max-width: 600px) {
  input[type='text'] {
    width: 250px;
  }

  input[type='submit'] {
    cursor: default;
    transition: none;
  }

  .todos {
    width: 90%;
    padding-left: 0px;
  }

  li {
    margin: 0;
    letter-spacing: 1px;
    font-size: 1.3rem;
    padding: 10px 0;
    word-wrap: break-word;
  }
}

@media (max-height: 600px) {
  .date {
    padding: 1rem;
    margin: 0;
  }
}
